.faq-section {
  max-width: 1400px;
  margin: 0 auto;
  background-color: black;
  padding: 40px;
  /* display: flex; */

}

.faq-item {
  border-bottom: 1px solid #2a2a2a;
  padding: 1rem 0;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
}

.faq-icon {
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}


.faq-answer-wrapper {
  overflow: hidden;
}

.faq-answer {
  margin-top: 0.75rem;
  color: #b5b5b5;
  line-height: 1.6;
}
.faq-arrow {
  font-size: 0.85rem;
  color: white;
  display: inline-block;
}
.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.faq-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Mobile */
@media (max-width: 768px) {
  .faq-grid {
    grid-template-columns: 1fr;
  }
}
